[submodule "cmdline"]
	path = cmdline
	url = git@github.com:ttdoucet/cmdline
[submodule "matrix"]
	path = matrix
	url = git@github.com:ttdoucet/matrix.git
[submodule "stopwatch"]
	path = stopwatch
	url = git@github.com:ttdoucet/stopwatch.git
